:root {
  --black: #0F0E17;
  --orange: #F25F4C;
  --red: #E53170;
  --yellow: #FF8906;
  --white: #FFFFFE;
  --gray: #A7A9BE;
  --blue: #5928E5;
  --pink: #FED9DA;
  --fontNunito: Nunito;
}

* {
  margin: 0 auto;
  padding: 0;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

header {
  background-color: var(--black);
  min-height: 100vh;
}

header span {
  color: var(--white);
  font-family: Impact;
  font-size: 24px;
  padding-inline-end: 40px;
}

body {
  /* background-color: var(--gray); */
  font-family: var(--fontNunito);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  color: var(--white);
}

h2 {
  font-family: Lora;
  font-size: 24px;
  font-weight: 400;
  line-height: 56px;
  color: var(--gray);
}

ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.logo a:hover {
  color: var(--orange);
}

li {
  display: inline;
  padding-inline-end: 40px;
}

.logo {
  cursor: pointer;
}

.wrapper-header, .wrapper-hero, .wrapper-servicios, .wrapper-contacto, .wrapper-footer {
  max-width: 1366px;
}

.wrapper-nav {
  /* position: fixed; */
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: auto 1fr;
  padding-inline: 72px;
  padding-block: 24px;
}

.cv {
  margin-inline-end: 1px;
  width: 206px;
  height: 48px;
  line-height: 48px;
  background: var(--yellow);
  justify-content: center;
  text-align: center;
}

.cv a {
  color: var(--white);
  font-family: var(--fontNunito);
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border: none;
}

.hola {
  padding-inline: 72px;
  padding-block: 40px;
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center; */
  margin: 15vh 0;
}

.hola-msj img {
  display: block;
}

.hola-msj h1 {
  padding-block: 2rem;
}

.hola-img {
  width: 495px;
  height: 462px;
}

.hola-img img {
  border-radius: 10px;
}

.top {
  position: absolute;
  bottom: 10px;
  /* right: 20px; */
  right: -100px;
  /* right: 20%; */
  /* bottom: 20%; */
  /* left: 1px; */
  z-index: 1;
  width: 20px;
  height: 20px;
  /* background-color: var(--black); */
  transform: rotate(180deg);
}

.proyectos {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: "izquierda derecha" "centro centro" "izquierdamin derechamin";
  margin-block-start: 84px;
  padding-inline: 72px;
  padding-block-end: 80px;
}

.proyectos h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #0F0E17;
  position: static;
  grid-area: izquierda;
}

.proyectos h3 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
}

.proyectos-msj-izq {
  width: 519px;
  margin-inline-end: 72px;
}

.proyectos-msj-der {
  width: 495px;
  margin-inline-end: 176px;
}

.wrapper-proyectos-detalle {
  width: 1174px;
  height: 501px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.proyectos-detalles {
  grid-area: centro;
  background-image: url('./img/huerto.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-inline-start: 24px;
}

/* .proyectos-detalles::before {
  opacity: 0.2;
} */

.proyectos-detalles h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.01em;
  /* headline */
  color: #FFFFFE;
  grid-area: derecha;
}

.wrapper-min {
  width: 563px;
  height: 317px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.proyectos-detalles-min-izq {
  background-image: url('./img/elisa.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-inline-start: 24px;
  /* opacity: 0.2; */
}

.proyectos-detalles-min-der {
  background-image: url('./img/xml.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-inline-start: 24px;
  /* opacity: 0.2; */
}

.proyectos-detalles-min h5, .proyectos-detalles-min-izq h5, .proyectos-detalles-min-der h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.01em;
  /* headline */
  color: #FFFFFE;
  grid-area: derecha;
}

.huertogram {
  width: 470px;
  height: 215px;
  background: var(--black);
  color: var(--white);
  z-index: 1;
  position: absolute;
  padding-block: 24px;
  padding-inline: 24px;
  margin-inline-start: -24px;
  margin-block-start: 76px;
  opacity: none;
}

.elisa {
  grid-area: izquierdamin;
  width: 468px;
  height: 155px;
  background: var(--black);
  color: var(--white);
  z-index: 1;
  position: absolute;
  padding-block: 24px;
  padding-inline: 24px;
  margin-inline-start: -24px;
  margin-block-start: 35px;
}

.xml {
  grid-area: derechamin;
  width: 468px;
  height: 155px;
  background: var(--black);
  color: var(--white);
  z-index: 1;
  position: absolute;
  padding-block: 24px;
  padding-inline: 24px;
  margin-inline-start: -24px;
  margin-block-start: 35px;
}

.btn-primary {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: static;
  width: 215px;
  height: 48px;
  left: 0px;
  top: 0px;
  /* /button/background */
  background: #FF8906;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.btn-secondary {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* padding-block: 50px; */
  left: 0px;
  top: 0px;
  /* identical to box height, or 150% */
  text-align: center;
  /* /button/background */
  color: #FF8906;
  border: 1px solid#FF8906;
  ;
  /* Inside Auto Layout */
  padding: 15px;
}

.servicios {
  width: 100%;
  background: linear-gradient(135deg, #FEB692 0%, #EA5455 100%);
  min-height: 100vh;
}

.servicios h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  letter-spacing: -0.005em;
  color: var(--black);
  margin-inline-start: 107px;
  margin-block: 80px;
}

.servicios ol {
  margin-block-start: 48px;
  margin-block-end: 80px;
}

.wrapper-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "servicios servicios servicios" "servicios-izq servicios-cnt servicios-der";
  grid-gap: 20px;
}

.servicios-img {
  /* grid-area: servicios-img; */
  width: 100%;
  /* position: relative; */
  /* width: 1366px; */
  height: 700px;
  background-image: url('./img/_services.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-block-end: 0px;
}

.servicios-izq {
  grid-area: servicios-izq;
}

.servicios-cnt {
  grid-area: servicios-cnt;
}

.servicios-der {
  grid-area: servicios-der;
}

.wrapper-servicios {
  margin-block-end: 80px;
}

.wrapper-servicios li {
  display: block;
  padding-block-end: 24px;
}

.wrapper-servicios h4 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.01em;
  /* background */
  color: #0F0E17;
  padding-block-end: 24px;
}

.contacto {
  width: 100%;
  background-color: var(--white);
  min-height: 80vh;
}

.wrapper-contacto {
  position: relative;
  max-width: 800px;
}

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
}

.contact-form h2 {
  color: var(--black);
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  letter-spacing: -0.005em;
}

.contact-form>* {
  padding-block: .5rem;
  margin-block: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  /* border: thin solid var(--black); */
  resize: none;
  border-left: 0;
  border-right: 0;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all .5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--black)
}

.contact-form input, .contact-form textarea {
  font-size: .85rem;
  font: Lora;
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--black);
  padding-left: 0;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--yellow);
}

.contact-form-loader {
  text-align: center;
  display: none;
}

.btn-contact {
  background-color: var(--yellow);
  color: #FFFFFE;
  padding: 15px;
}

footer {
  width: 100%;
  height: 145px;
  background-color: var(--black);
}

footer h3 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  text-align: center;
  /* headline */
  color: #FFFFFE;
}

.wrapper-footer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.wrapper-footer span {
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  /* headline */
  color: #FFFFFE;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  color: var(--orange);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal#gracias:target {
  opacity: 1;
  background-color: var(--black);
  color: var(--orange);
  pointer-events: auto;
}

@media screen and (max-width:1280px) {
  .wrapper-nav, .proyectos, .hola, .wrapper-servicios, .wrapper-footer, .huertogram {
    /* position: fixed; */
    /* border: 1px solid red; */
    display: block;
  }
  .wrapper-header, .wrapper-hero, .wrapper-servicios, .wrapper-contacto, .wrapper-footer, .wrapper-proyectos-detalle, .wrapper-min, .huertogram, .wrapper-nav {
    width: 100%;
    /* padding: 20px; */
  }
  .arrow-down, .top, .hola-img {
    display: none;
    visibility: hidden;
    width: 0;
  }
  .hola {
    width: 100%;
    margin: auto;
    padding-inline: 0;
  }
  .huertogram, .elisa, .xml{
    display: inline;
    width: 300px;
    padding-block-end: 100px;
  }
  .btn-primary, .btn-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 10px;
    margin-inline-start: 0;
    padding: 0;
  }
  .proyectos {
    padding-inline: 10px;
  }
  .proyectos h2 {
    font-size: 32px;
  }
  .proyectos h3 {
    font-size: 20px;
  }
  .proyectos-msj-izq, .proyectos-msj-der {
    width: 350px;
    margin-inline: 0;
  }
  .wrapper-proyectos-detalle{
    margin-block-end: 56px;
  }
  .wrapper-nav{
    margin-block-end: 0;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  * {
    margin: 0;
    padding: 0;
  }
}